<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('header')%>
</head>
<body>
    <h1><%= title %></h1>
    <div class="messages-wrapper">
    <% messages.forEach((message) => {%>
        <div class = 'message'>
            <p><%= message.text%></p>
             <p><%= message.user%></p>
              <p><%= message.added%></p>
              <button type = "button">
                <a href="/message/<%= message.id %>">Open</a></button>
        </div>

   <% })%>
    </div>

   <button type = "button"><a href="/new">
    Add Message
   </a></button>
</body>
</html>