<!DOCTYPE html>
<html lang="en">
<%- include('header')%>
<body>
     <%- include('back-button')%>
   
        
        <div class = 'message-wrapper'>
            <h1>Details</h1>
        <p><%= message.text %></p>
        <p><%= message.user %></p>
        <p><%= message.added %></p>
    </div>
   
    

   
</body>
</html>